<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<!-- Include Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
	</head>
	<body>
		<div class="container mt-5">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="card">
						<div class="card-body">
							<h2 class="card-title text-center">Ticket Tracker</h2>
							<form action="/login" method="post" class="mt-4">
								<div class="form-group">
									<label for="username">JIRA Username:</label>
									<input
										type="text"
										class="form-control"
										id="username"
										name="username"
										required
									/>
								</div>

								<button type="submit" class="btn btn-primary btn-block">
									Login
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Loading bar -->
		<div id="loading" style="display: none">
			<div class="progress">
				<div
					class="progress-bar progress-bar-striped progress-bar-animated"
					role="progressbar"
					style="width: 100%"
				></div>
			</div>
		</div>
		<!-- Include Bootstrap JS and jQuery -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				// Grab the form
				var loginForm = document.querySelector("form");

				// Add a submit event listener
				loginForm.addEventListener("submit", function () {
					// Show the loading bar
					document.getElementById("loading").style.display = "block";

					// Optionally, disable the submit button to prevent multiple submissions
					document.querySelector("button[type='submit']").disabled = true;
				});
			});
		</script>
	</body>
</html>
